.list-group-item.active, .list-group-item.active:focus, .list-group-item.active:hover {
    z-index: 2;
    color: #fff;
    background-color: rebeccapurple;
    border-color: #000000;
}

#certifications {
    margin: auto;
    width: 40%;
    padding: 70px;  
}

#single-certificate {
    margin: auto;
    width: 60%;
    padding: 90px;  
}


button.list-group-item {
    text-align: center;
}

.list-group-item.certificate-button {
    font-weight: bold;
    font-style: italic;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(41, 41, 133);
}